# Content
* Libraries & Constants
* Preprocessing
* Implementing Logistic Regression Model
* Training
* Evaluation

# Libraries & Constants

In [85]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [62]:
categorical_attr = ['gender', 'NationalITy', 'PlaceofBirth', 'GradeID', 'StageID',
                    'SectionID', 'Topic', 'Semester', 'Relation', 'ParentAnsweringSurvey',
                   'ParentschoolSatisfaction', 'ParentschoolSatisfaction', 'StudentAbsenceDays', 'Class']

# Preprocessing

Reading & displaying data:

In [97]:
df = pd.read_csv('student_dataset.csv')
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

Converting Categorical values to scaler values:

In [98]:
le = LabelEncoder()
df[categorical_attr] = df[categorical_attr].apply(le.fit_transform, axis=0)

In [99]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,1,4,4,2,1,0,7,0,0,15,16,2,20,1,1,1,2
1,1,4,4,2,1,0,7,0,0,20,20,3,25,1,1,1,2
2,1,4,4,2,1,0,7,0,0,10,7,0,30,0,0,0,1
3,1,4,4,2,1,0,7,0,0,30,25,5,35,0,0,0,1
4,1,4,4,2,1,0,7,0,0,40,50,12,50,0,0,0,2

X: Features <br>
y: Classes

In [100]:
X = np.array(df.iloc[:, :-1])
y = np.array(df['Class'])

Deviding Dataset to training and test set:

In [101]:
X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42)

# Implementing Logistic Regression Model

In [102]:
# ---- Implement Logistic Regression Algorithm Here ----

# Training the model

In [103]:
# ---- Implement Training Step Here ----

# Evaluating the model

In [104]:
# ---- Evaluate your logistic Regression Model on Training set and Test set ----